In [123]:
import pandas as pd
import numpy as np

In [100]:
df=pd.read_csv(r"C:\Users\edgee\OneDrive\Desktop\Python-Master\Python-Master\lists.txt", header=None, delim_whitespace=True)

C:\Users\edgee\AppData\Local\Temp\ipykernel_5816\4294772319.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df=pd.read_csv(r"C:\Users\edgee\OneDrive\Desktop\Python-Master\Python-Master\lists.txt", header=None, delim_whitespace=True)

In [101]:
df.columns=['L1','L2']

In [102]:
l1=[]
l2=[]

In [103]:
for i in df["L1"]:
    l1.append(i)

In [104]:
for i in df["L2"]:
    l2.append(i)

In [105]:
def distnace(x, y):
    l=len(x)
    x=sorted(x)
    y=sorted(y)
    start=0
    dist=[]
    while start <= l-1:
        d=abs(x[start]-y[start])
        dist.append(d)
        start +=1
    return dist

In [106]:
dist=distnace(l1,l2)

In [107]:
sum(dist)

1197984

In [ ]:
#End of Part 1

In [113]:
l1_distinct=list(set(l1))
l1_count=[]
j=len(l2)

TypeError: 'int' object is not iterable

In [120]:

for i in l1_distinct:
    k=0
    count=0
    while k <=j-1:
        if i==l2[k]:
            count +=1
        k+=1
    l1_count.append(count)

In [124]:
l3=np.dot(l1_distinct, l1_count)

In [126]:
l3

np.int64(23387399)

In [ ]:
#End of part 2

In [176]:
df=[]
file_path=r"C:\Users\edgee\OneDrive\Desktop\Python-Master\Python-Master\reactor_library.txt"
with open(file_path,'r') as file:
    for line in file:
           df.append([int(x) for x in line.split() ])
           
       
        
df_working=pd.DataFrame(df)

In [177]:
df_working

      0   1   2   3   4     5     6     7
0    35  37  38  41  43  41.0   NaN   NaN
1    64  66  69  71  72  72.0   NaN   NaN
2    45  47  50  51  52  53.0  55.0  59.0
3    16  18  19  20  23  29.0   NaN   NaN
4    36  39  41  43  44  41.0  44.0   NaN
..   ..  ..  ..  ..  ..   ...   ...   ...
995  42  41  39  36  34  33.0  32.0   NaN
996  10  12  13  16  17   NaN   NaN   NaN
997  14  12  10   7   5   3.0   NaN   NaN
998  47  49  50  52  53  54.0  57.0  59.0
999  28  29  32  33  34   NaN   NaN   NaN

[1000 rows x 8 columns]

In [203]:
def check_row(row):
    diffs = np.diff(row)  # get adjacent differences
    if np.all((diffs > 0) & (diffs < 4)):
        return 'increasing'
    elif np.all((diffs < 0) & (abs(diffs) < 4)):
        return 'decreasing'
    else:
        return 'fail'

In [212]:
result=df_working.apply(check_row,1)

TypeError: unsupported operand type(s) for -: 'str' and 'float'

In [207]:
df_working['trend']=result

In [208]:
passed_df = [df_working['trend'].isin(['increasing', 'decreasing'])]

In [210]:
result

0            fail
1            fail
2            fail
3            fail
4            fail
          ...
995          fail
996          fail
997          fail
998    increasing
999          fail
Length: 1000, dtype: object

In [209]:
len(passed_df)

1